
@font-face {
font-family:ps; src: url(fonts/ProductSans-Regular.ttf);}



/*main code*/

#ukebako-page-2k13
{
  display: inline-table;
  font-weight: bolder;
margin-top:170px;
text-align: center;
font-family: sg;
color: black;
align:center;
height:500px;
font-size: 50px;
background-color:transparent no-repeat center center fixed;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow:20px 20px 20px 20px grey;

}
#ukebako-page-2k13 h1{
font-family:ps;
font-size:30px;
color:#fc1501;
text-align:center;
}

.button{
height:35px;
width:300px;
float: right;
font-size:20px;
text-align:center;
margin-right:30px;
font-family:ps;
font-weight:bolder;
margin-top:70px;
border-radius:5px;
 }

.button:hover
{
color:#fc1501;
}

th, td {
    color:black;
    border-bottom: 1px solid #eee;
    font-size: 20px;
    padding: 12px 35px;
    border-collapse: collapse;
background-color:white;
font-family:ps;


}
th {
    background:#00cccc;
    color:#fff;
    text-transform: uppercase;
    font-size: 12px;
}
/*#womtable th{
background-color:#ffc0cb;
}
#womtable{
border-bottom: 5px solid #ffc0cb;
}*/
table {
  float: left;
  font-family:ps;
  margin: 50px;
  width: 700px;
  align:center;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
}

#btn1 a{ margin-left:0px;}
#btn3 a{margin-left:50px;}
#btn4 a{margin-left:5px;}
.button a{
text-decoration:none;
color:black;
 height: 35px;
width: 200px;
display:block;
margin-left: 20px;
/*margin-top: -10px;
padding-top: 7px;
margin-right: -30px;
margin-left: -5px;*/
/*For color change*/
-webkit-transition: color 1s ease-out;
 -moz-transition: color 1s ease-out;
 -o-transition: color 1s ease-out;
 -ms-transition: color 1s ease-out;
 transition: color 1s ease-out;
}

.button:hover a
{
color:red;
}

#shoot-out{
color:white;
background-color:black;
height:35px;
width:150px;
font-size:25px;
text-align:center;
padding: 10px 10px 0px 5px;
font-family:ps;
font-weight:bolder;
margin-top:20px;
margin-right:auto;
margin-left:auto;
border-radius:5px;

}
#shoot-out:hover a{
color:black;
}
#shoot-out:hover{
background-color:white;
box-shadow: 10px 10px 5px black;

}
#shoot-out a
{text-decoration:none; color:white;}

}
	  
