

#ukebako-page-9-0
{
background-color:black;
box-shadow: 20px 20px 20px 20px grey;
height:500px;
margin-top:200px;
width:100%;
border: 5px soild black;

}

.ukebako-page-9
{
display:inline-block;
width:30%;
height:250px;
width :1170px;
-moz-box-shadow: 0 0 2px 2px #999;
-webkit-box-shadow: 0 0 2px 2px #999;
margin-top:10px;
margin-left:5px;
vertical-align:top; box-shadow: 20px 20px 20px 20px white;

}
.ukebako-page-9-1
{
	

	padding-top:20px;
background-color:rgba(0,0,0,0.8);
width:28%;
height:150px;
margin-top:40px;
float:left;

/*border-style:solid;
border-color:green;*/
/*font-family:basic;
font-size:50px;
color:black;
font-weight:bolder;*/


}
#div3{
box-shadow: 20px 15px 15px 15px grey;
width:1240px;
height:250px;
background-color:black;


}
#div3-1{
margin-left:15px;
}
#div3-2{
margin-left:75px;
}
#ukebako-page-9-2
{
background-color:rgba(0,0,0,0.8);


/*font-family:basic;
font-size:50px;
color:black;
font-weight:bolder;*/

}
#ukebako-page-9-3
{
background-color:rgba(0,0,0,0.9);


/*font-family:basic;
font-size:50px;
color:black;
font-weight:bolder;*/
}
.bass{
font-family:ps;
font-weight:bolder;
font-size:35px;
color:white;
}
.ukebako-page-9 p{
font-size:20px;
color:white;
text-align:center;
font-family:ps;
}

#map2{
width:1245px;
height: 600px;
box-shadow: 20px 20px 20px 20px grey;
}
 #hello 
{
color:white;
text-align:left;
font-size:25px;
margin-top:-50px;
}
#bye{
color:white;
text-align:left;
margin-top:-20px;
}
#shoot-out{
color:white;
background-color:black;
height:35px;
width:150px;
font-size:25px;
text-align:center;
padding: 10px 10px 0px 5px;
font-family:ps;
font-weight:bolder;
margin-top:30px;
margin-right:auto;
margin-left:auto;
border-radius:5px;

}
#shoot-out:hover a{
color:black;
}
#shoot-out:hover{
background-color:white;
box-shadow: 10px 10px 5px black;

}
#shoot-out a
{text-decoration:none; color:white;}

}
