

/*main code*/

#ukebako-page-8-0
{
margin-top:170px;
height:100%;
background-color:transparent;
opacity:0.9;
box-shadow: 5px 5px 5px 5px grey;
}
#ukebako-page-8-0 h1{
font-family:ps;
font-size:30px;
color:#fc1501;
text-align:center;
}
#ukebako-page-8-0 h2{
font-family:ps;
font-size:30px;
color:black;
text-align:center;

}

th, td {
    color:black;
    border-bottom: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
background-color:white;
font-family:ps;
text-align: center;


}
th {
    background:#00cccc;
    color:#fff;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
#womtable th{
background-color:#ffc0cb;
}
#womtable{
border-bottom: 5px solid #ffc0cb;
}
table {
  font-family:ps;
  margin: 50px auto;
  width:700px;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
}
#shoot-out{
color:white;
background-color:black;
height:35px;
width:150px;
font-size:25px;
text-align:center;
padding: 10px 10px 0px 5px;
font-family:ps;
font-weight:bolder;
margin-top:20px;
margin-right:auto;
margin-left:auto;
border-radius:5px;

}
#shoot-out:hover a{
color:black;
}
#shoot-out:hover{
background-color:white;
box-shadow: 10px 10px 5px black;

}
#shoot-out a
{text-decoration:none; color:white;}

}
.ptable { display:inline;}
#menp{
margin-left:-600px;}
#womenp{ margin-top:-730px;
margin-left:600px;}
